/* Elementos */
label{
    display: inline-block;
}

/* Clases */

/* REGISTRO */
.formClass{
    width: 40%;
    color: white;
    padding: 5%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 4px;
    box-shadow: 7px 13px 37px black;
}

.formClass h1{
    text-align: center;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.formClass h3{
    text-align: center;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.formLabel{
    width: 100%;
    padding: 4%;
    margin-bottom: 0.5rem;
    font-size: 100%;
    border: 1px solid white;
}

.formInput{
    border: none;
    color: white;
    width: 60%;
}

.submitInput{
    width: 100%;
    border: none;
    color: white;
    margin-top: 16px;
    font-size: 16px;
}