/* Elementos */
label{
    display: inline-block;
}

/* TIPOGRAFIA */

.kanit-regular{
    font-family: "Kanit", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* PAGINA PRINCIPAL */
.shadowClass{
    box-shadow: 7px 13px 37px black;
}

.losRedondos{
    text-align: center;

}

.losRedondos h1{
    text-transform: uppercase;
    font-weight: 700;
}

/* REGISTRO */
.formClass{
    margin: 128px auto;
    padding: 16px;
    border-radius: 8px;
    width: 60%;
}

.formClass h3{
    text-align: center;
    padding: 1%;
    margin: 3% 0;
}

.formLabel{
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid white;
}

.inicioForm{
    margin: 8px 0;
    padding: 4px;
    text-align: center;
}

.formInput{
    width: 80%;
}

.submitInput{
    width: 100%;
    padding: 1%;
}