/* TIPOGRAFIA */

.kanit-regular{
    font-family: "Kanit", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* PAGINA PRINCIPAL */
.shadowClass{
    box-shadow: 7px 13px 37px black;
}

.losRedondos{
    text-align: center;

}

.losRedondos h1{
    text-transform: uppercase;
    font-weight: 700;
}

/* REGISTRO */
.formClass{
    margin: 128px auto; /* Centrar el form */
    padding: 16px;
    border-radius: 8px;
    width: 60%; /* Hacerlo mas chico */
}

/* Titulo del form */
.formClass h3{
    text-align: center;
    padding: 1%;
    margin: 3% 0;
}

.formLabel{
    width: 100%; /* Agrandar los labels para que funcione el inline */
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid white;
    display: inline-block; /* Lables uno debajo del otro */
}

.volverAlInicio{
    margin: 8px 0;
    padding: 4px;
    text-align: center;
}

.formInput{
    width: 80%; /* Width para que no se rompa en celulares y que los inputs esten al lado de los labels */ 
}

.submitInput{
    width: 100%; /* Hacer que el boton de enviar ocupe todo el form */
    padding: 1%;
}